.image-transition-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.background-image,
.overlay-image {
    display: block;
    width: 100%;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    animation: revealAnimation forwards;
}

@keyframes revealAnimation {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
} 