@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Shantell+Sans&family=Caveat&family=EB+Garamond&family=Inter&family=JetBrains+Mono&family=Lora&family=Manrope&family=Marck+Script&family=Mulish&family=Merriweather&family=Nunito&family=Open+Sans&family=Oswald&family=Pacifico&family=Playfair+Display&family=Roboto&family=Roboto+Slab&family=Rubik&family=Source+Code+Pro&family=Work+Sans&family=Lobster&display=swap');

:root {
    --font-family: "Roboto Slab";
    --light-red: hsl(0, 97%, 80%);
    --intermediate-red: hsl(0, 100%, 40%);
    --dark-red: hsl(0, 100%, 15%);
    --light-green: hsl(131, 97%, 80%);
    --intermediate-green: hsl(110, 100%, 40%);
    --dark-green: hsl(125, 100%, 15%);
    --light-yellow: hsl(64, 100%, 80%);
    --dark-yellow: hsl(33, 100%, 30%);
    --load-orange: hsl(39, 100%, 65%);
    --stats-red: rgb(254, 108, 108);
    --stats-green: rgb(39, 186, 71);
    --stats-yellow: rgb(255, 218, 86);
    --no-user-bg: linear-gradient(135deg, 
        hsl(300, 100%, 70%) 0%,
        hsl(24, 100%, 70%) 20%,
        hsl(60, 100%, 70%) 40%,
        hsl(180, 100%, 70%) 60%,
        hsl(240, 100%, 70%) 80%,
        hsl(272, 100%, 70%) 100%
    );
    --navbar-margin: 1.2rem;
    --verification-required-height: 0;
}

.light {
    --bg: rgb(244, 240, 232);
    --button-font: rgb(43, 43, 43);
    --modal-bg: rgb(249, 249, 249);
    --modal-button-bg: rgb(234, 234, 234);
    --modal-button-bg-hover: rgb(219, 219, 219);
    --button-bg: rgb(220, 220, 220);
    --border-thick: rgb(43, 43, 43) 3px solid;
    --border-thin: rgb(43, 43, 43) 1px solid;
    --select-hover: rgb(205, 205, 205);
    --font: rgb(35, 35, 35);
    --font-hover: rgb(70, 70, 70);
    --source-code: rgb(90, 90, 90);
}


.dark {
    --bg: rgb(23, 23, 23);
    --button-font: rgb(220, 220, 220);
    --modal-bg: rgb(39, 39, 39);
    --modal-button-bg: rgb(54, 54, 54);
    --modal-button-bg-hover: rgb(69, 69, 69);
    --button-bg: rgb(43, 43, 43);
    --border-thick: rgb(220, 220, 220) 3px solid;
    --border-thin: rgb(220, 220, 220) 1px solid;
    --select-hover: rgb(53, 53, 53);
    --font: rgb(220, 220, 220);
    --font-hover: rgb(200, 200, 200);
    --source-code: rgb(160, 160, 160);
}

dialog {

    transform: translateY(-20px);
  
    &, &::backdrop {
      transition:
        display 0.3s allow-discrete,
        overlay 0.3s allow-discrete,
        opacity 0.3s ease,
        transform 0.3s ease;

        opacity: 0;
    }

    &[open] {
        opacity: 1;
        transform: translateY(0px);
  
        &::backdrop {
            opacity: 0.8;
        }
    }

    &.closing {
        opacity: 0;
        transform: translateY(20px);
        &::backdrop {
            opacity: 0;
        }
    }

    @starting-style {
        &[open],
        &[open]::backdrop {
            opacity: 0;
        }
    
        &[open] {
            transform: translateY(20px);
        }
    }
}

html, body {
    font-family: var(--font-family);
    min-height: 100vh;
}
  
body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.theme-transition {
    transition: all 0.5s ease;
}

.reset-session {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.reset-session span {
    color: var(--font);
    font-size: 1.3rem;
    margin-right: 1.3rem;
}

.reset-session button {
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--button-font);
    background-color: var(--button-bg);
    border: var(--border-thick);
    border-radius: 15px;
    padding: 0.5rem 1.2rem;
    transition: 0.3s background-color ease;
    cursor: pointer;
}

.reset-session svg {
    height: 1.8rem;
    fill: var(--button-font);
    margin-right: 0.5rem;
}

.navbar {
    position: fixed;
    top: var(--verification-required-height);
    left: 0;
    width: 100vw;
    background-color: var(--modal-bg);
}

.server-down {
    height: 2.5rem;
    margin: auto calc(var(--navbar-margin) * 2) auto 0;
}

.verification-required {
    font-family: "Rubik";
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: var(--light-yellow);
    color: var(--dark-yellow);
    font-weight: bold;
    height: var(--verification-required-height);
}

.verification-required svg {
    height: 2.2rem;
    margin: 0 0.7rem;
}

.navbar-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0.5rem auto;
}

.auth-links {
    display: flex;
}

.auth h2 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
    margin: auto;
}

.logged-in {
    display: flex;
    align-items: center;
}

.logged-in svg {
    fill: var(--font);
    height: 4rem;
    margin-right: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: var(--font);
}

.signup-form label, .login-form label {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    margin: 1.7rem 0 0.7rem 0.5rem;
}

.signup-form span {
    width: 35ch;
    color: hsl(0, 100%, 68%);
    text-align: left;
    font-style: italic;
    margin-left: 0.5rem;
}

.signup-input, .login-form input {
    font-family: var(--font-family);
    background-color: var(--modal-bg);
    color: var(--font);
    border: var(--border-thick);
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 0.3rem 0.5rem;
}

.password-field input {
    width: calc(100% - 4.6rem);
    padding-right: 3rem;
}

.login-form input {
    width: 30ch;
}

.password-field {
    display: inline-block;
    position: relative;
}

.signup-form button, .login-form button {
    font-family: var(--font-family);
    display: flex;
    min-width: 9rem;
    min-height: 3rem;
    justify-content: center;
    background-color: var(--button-bg);
    color: var(--font);
    border: var(--border-thick);
    font-size: 1.3rem;
    border-radius: 20px;
    margin: 2.2rem auto 0;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.signup-form button:disabled, .login-form button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.signup-form {
    display: grid;
    grid-template-columns: calc(40% - 1rem) calc(60% - 1rem);
    gap: 2rem;
    min-width: 650px;
    max-width: 45vw;
    color: var(--font);
}

.signup-form label {
    display: flex;
    align-items: top;
    justify-content: right;
    margin: 0;
}

.signup-field {
    display: flex;
    flex-direction: column;
}

.verify p {
    color: var(--font);
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
}

.verify button {
    font-family: var(--font-family);
    background-color: var(--button-bg);
    color: var(--font);
    border: var(--border-thick);
    font-size: 1.2rem;
    border-radius: 15px;
    margin: 1.5rem 0 0;
    padding: 0.3rem 2rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.login-form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.7rem 0 0.7rem 0.5rem;
}

.login-form svg, .signup-form svg {
    position: absolute;
    top: 55%;
    right: 1rem;
    fill: var(--font);
    height: 1.6rem;
    transform: translateY(-60%);
    cursor: pointer;
}

.login-warning {
    display: flex;
    flex-direction: column;
    width: 420px;
    background-color: var(--light-yellow);
    color: var(--dark-yellow);
    align-items: center;
    border-radius: 25px;
    margin: 1rem auto 0;
    padding: 1rem;
}

.login-warning p {
    font-style: italic;
    font-size: 1.2rem;
    margin: 1rem 0.5rem;
}

.login-warning div {
    display: flex;
    align-items: center;
    width: 100%;
}

.login-warning button {
    font-family: var(--font-family);
    width: 48%;
    min-height: 2.7rem;
    background-color: var(--light-yellow);
    color: var(--dark-yellow);
    font-size: 1.1rem;
    border: var(--dark-yellow) 3px solid;
    border-radius: 15px;
    margin: 1%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.login-warning button:hover {
    background-color: var(--dark-yellow);
    color: var(--light-yellow);
}

.loader {
    border: 3px solid var(--button-font);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.background-bulb {
    position: absolute;
    top: calc(50% - 225px);
    left: calc(50% - 225px);
    width: 450px;
    opacity: 0.2;
    object-fit: cover;
    transform: rotate(-5deg);
    z-index: -1;
}

.log-in-to-view {
    position: relative;
    width: 420px;
    color: var(--font);
    z-index: 1;
}

.log-in-to-view p {
    font-size: 1.3rem;
    font-style: italic;
    margin: 0 0 2rem;
}

.log-in-to-view button {
    font-family: var(--font-family);
    font-size: 1.4rem;
    width: 46%;
    background-color: var(--button-bg);
    color: var(--button-font);
    border: var(--border-thick);
    border-radius: 15px;
    padding: 0.5rem 0;
    margin: auto 2%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.log-in-to-view button:hover {
    background-color: var(--select-hover);
}

.devpage {
    display: flex;
    flex-direction: column;
}

.devpage .p3 {
    font-size: 2rem;
}

.version {
    width: 250px;
    color: var(--font);
    font-size: 2rem;
    background-color: var(--modal-bg);
    box-shadow: 0 0 10px 0px var(--font);
    border: var(--border-thick);
    border-radius: 20px;
    padding: 1rem 0;
    margin: auto;
    margin-bottom: 2rem;
    cursor: pointer;
}

.repo-menu {
    width: 300px;
    margin: 1rem auto;
}

.tabs button {
    font-family: var(--font-family);
    background-color: transparent;
    color: var(--font);
    font-size: 1.7rem;
    width: 9rem;
    border: none;
    border-bottom: var(--border-thick);
    padding-bottom: 0.3rem;
    cursor: pointer;
}

.repos div {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 195px;
}

.repos a {
    width: 270px;
    font-size: 1.4rem;
    font-weight: normal;
    background-color: var(--button-bg);
    color: var(--button-font);
    border: var(--border-thick);
    border-radius: 18px;
    padding: 0.4rem 0;
    margin: 1rem auto 0;
    transition: background-color 0.3s ease;
}

.repos a:hover {
    background-color: var(--select-hover);
    color: var(--button-font);
    text-decoration: none;
}

.profile {
    display: flex;
    position: relative;
    align-items: center;
    width: 480px;
    border-radius: 20px;
    padding: 1rem 2rem;
}

.profile .play img {
    margin-left: -2rem;
}

#open-copy-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    cursor: pointer;
}

.user-info {
    text-align: left;
}

.user-info h1 {
    font-size: 2.2rem;
    margin: 0 0 0.5rem 0;
}

.joined {
    font-size: 1.3rem;
    font-weight: normal;
    font-style: italic;
    margin: 0 0 3rem 0;
}

.change-password {
    font-family: var(--font-family);
    position: absolute;
    left: 0;
    right: 0;
    width: 25rem;
    height: 3.5rem;
    border: var(--border-thick);
    border-radius: 0 0 15px 15px;
    font-size: 1.3rem;
    background-color: var(--button-bg);
    color: var(--button-font);
    font-weight: bold;
    margin: auto;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.user-actions {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.user-actions svg {
    height: 2rem;
}

.copy-modal {
    background-color: var(--modal-bg);
    width: 400px;
    border: var(--border-thick);
    border-radius: 20px;
    padding: 0;
}

.copy-modal h2 {
    font-style: italic;
    margin: 0.8rem;
    cursor: default;
}

.copy-section {
    display: flex;
    align-items: center;
    background-color: var(--modal-button-bg);
    transition: all 0.2s ease;
    cursor: pointer;
}

.copy-section:hover {
    background-color: var(--modal-button-bg-hover);
}

.color-display {
    display: flex;
    width: 144px;
    height: 4em;
    align-items: center;
    text-align: center;
    box-shadow: 2px 0 0 0 var(--button-font);
    margin-right: 0.9rem;
}

.color-display span {
    font-size: 1.2rem;
    margin: auto;
}

.copy-modal p {
    color: var(--button-font);
    width: 240px;
    font-size: 1.1rem;
    text-align: left;
    margin: 0;
}

.asset-copied {
    position: absolute;
    right: 1rem;
    height: 2rem;
}

#bg-copied {
    top: 70px;
}

#stroke-copied {
    top: 137px
}

#font-copied {
    top: 204px;
}

.close-copy {
    color: var(--font);
    font-size: 1.35rem;
    font-style: italic;
    margin: 0.5rem;
    cursor: pointer;
}

.play label {
    cursor: pointer;
}

.controls button {
    font-family: var(--font-family);
    background-color: var(--button-bg);
    color: var(--button-font);
    border: var(--border-thick);
    width: 8.2rem;
    height: 2.5rem;
    font-size: 1.1rem;
    border-radius: 10px;
    margin: 0.5rem 0.3rem;
    padding: 0.3rem 1.5rem;
    transition: background-color 0.1s ease;
    cursor: pointer;
}

.play {
    display: flex;
    flex-direction: column;
}

.play-heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.play svg {
    width: 2.3rem;
    stroke: var(--font);
    cursor: pointer;
}

.play img {
    transition: transform 0.1s ease-in-out;
    transform: rotate(-5deg);
    width: 256px;
    height: 256px;
}
  
.play img.on {
    transform: rotate(5deg);
}

#counter {
    margin: 1.2rem 0;
}

.about-content {
    background-color: var(--modal-bg);
    border: var(--border-thick);
    border-radius: 20px;
    padding: 2rem;
}

.about-content p {
    font-weight: normal;
    font-style: italic;
}

h2 {
    font-size: 1.5rem;
    color: var(--font);
    font-weight: bold;
    margin: 1rem;
    transition: background-color 0.1s ease;
}

.settings h2 {
    font-size: 2.4rem;
    margin: 0;
}

.container {
    font-family: var(--font-family);
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container div {
    display: flex;
    align-items: center;
}

.container label {
    font-size: 1.5rem;
    color: var(--font);
    transition: background-color 0.1s ease;
}

.container select,
.explore-fonts {
    font-family: var(--font-family);
    background-color: var(--button-bg);
    font-size: 1.5rem;
    color: var(--button-font);
    border: var(--border-thick);
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.1s ease;
    cursor: pointer;
}

.explore-fonts {
    display: flex;
    align-items: center;
    font-size: 1.35rem;
    border-radius: 15px;
    padding: 0.4rem 0.8rem;
}

.explore-fonts svg {
    height: 1.5rem;
    margin-right: 0.5rem;
}

.explore-fonts span {
    max-width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#toggle-info {
    font-family: "Roboto Slab";
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--button-bg);
    color: var(--button-font);
    border: var(--border-thin);
    border-radius: 50%;
    margin-left: 0.5rem;
    transition: background-color 0.1s ease;
    cursor: help;
}

.container .toggle input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.container .toggle label {
    font-family: "Roboto Slab";
    width: 75px;
    height: 37.5px;
    background: var(--font);
    display: block;
    border-radius: 37.5px;
    position: relative;
    cursor: pointer;
}
  
.container .toggle label:after {
    content: "×";
    position: absolute;
    font-size: 1.5rem;
    top: 1.875px;
    left: 1.875px;
    width: 33.75px;
    height: 33.75px;
    background: var(--bg);
    border-radius: 33.75px;
    transition: 0.3s;
}
  
.container .toggle input:checked + label:after {
    content: "✓";
    left: calc(100% - 1.875px);
    transform: translateX(-100%);
}

.collections-title {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: normal;
    gap: 1rem;
    font-size: 1.8rem;
    color: var(--font);
    margin: 0;
}

.collections-title::before,
.collections-title::after {
    content: "";
    flex: 1;
    height: 3px;
    background: var(--font);
}

.collections {
    display: flex;
}

.collections button {
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46%;
    font-size: 1.3rem;
    background-color: var(--button-bg);
    color: var(--button-font);
    border: var(--border-thick);
    border-radius: 15px;
    padding: 0.5rem 0;
    margin: 0 2%;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.collections svg {
    width: 1.8rem;
    margin-right: 0.5rem;
}

.collection-actions button:hover,
.collections button:hover,
.signup-form button:hover,
.login-form button:hover,
.container select:hover,
.explore-fonts:hover,
.controls button:hover,
.change-password:hover,
.verify button:hover,
#toggle-info {
    background-color: var(--select-hover);
}

.header {
    display: inline-flex;
}

.header img {
    height: 7.4rem;
    margin-left: -1.1rem;
    margin-right: -0.7rem;
    margin-top: 2.2rem;
}

.links {
    display: flex;
    flex-direction: column;
}

a {
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--font);
    font-weight: bold;
    transition: background-color 0.1s ease;
    cursor: pointer;
}
  
a:hover {
    color: var(--font-hover);
    text-decoration: underline;
}
  
.p1, .p2 {
    color: var(--font);
    font-weight: bold;
    text-align: center;
}

.p1 {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.p2 {
    font-size: 3rem;
}

.p3 {
    color: var(--font);
    font-size: 1.5rem;
}

.confirm {
    width: 420px;
    background-color: var(--modal-bg);
    border: var(--border-thick);
    color: var(--font);
    border-radius: 15px;
    padding: 1.2rem;
}

.confirm::backdrop {
    background-color: hsl(0, 0%, 0%, 0.25);
}

.saved-controls .confirm {
    width: 380px;
    border-radius: 15px;
    padding: 1rem;
}

.confirm p {
    font-size: 1.5rem;
    margin: 10px 6px 20px;
}

.saved-controls .confirm p {
    font-size: 1.5rem;
    margin: 8px auto 10px;
}

.confirm input {
    font-family: var(--font-family);
    background-color: var(--modal-button-bg);
    color: var(--button-font);
    width: 90%;
    font-size: 1.4rem;
    margin: 10px auto;
    border: var(--border-thick);
    border-radius: 12px;
    padding: 0.4rem;
}

::placeholder {
    font-style: italic;
}

.confirm button {
    font-family: var(--font-family);
    background-color: var(--button-bg);
    color: var(--button-font);
    font-size: 1.4rem;
    width: 6rem;
    margin: 10px 6px;
    border: var(--border-thick);
    border-radius: 12px;
    padding: 3px 0;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.saved-controls .confirm button {
    font-size: 1.4rem;
    width: 45%;
    margin: 6px;
}

.font-option-actions button:hover,
.toggle-info-modal button:hover,
.export-options button:hover,
.reset-session button:hover,
#close-export-modal:hover,
.font-field button:hover,
.confirm button:hover,
.confirm button:hover,
.options button:hover,
.upload-themes:hover,
.modal-options:hover,
.select-all:hover {
    background-color: var(--modal-button-bg-hover);
}

.theme, .more, .toggle-info-modal, .export-modal, .font-modal {
    width: 420px;
    padding: 0;
    background-color: var(--modal-bg);
    border: var(--border-thick);
    border-radius: 15px;
}

.options {
    display: flex;
    flex-direction: column;
}

.options div {
    display: flex;
    flex-direction: column;
    color: var(--font);
    margin: 0;
    padding: 0.7rem 1.5rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

.options div:hover {
    text-decoration: none;
    background-color: var(--modal-button-bg);
}

.options p {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin: 0 auto;
}

.options span {
    font-size: 1.1rem;
    font-weight: normal;
    font-style: italic;
    margin: 0.5rem 0;
}

.options button, .toggle-info-modal button, #close-export-modal {
    font-family: var(--font-family);
    background-color: transparent;
    width: 100%;
    height: 2.5rem;
    color: var(--button-font);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.options svg {
    stroke: var(--button-font);
    margin-right: 0.6rem;
}

#saved-icon {
    height: 2rem;
}

#font-icon {
    height: 1.9rem;
    margin-right: 0.9rem;
}

#explore-icon {
    height: 2.5rem;
}

.toggle-info-modal p {
    color: var(--font);
    margin: 1.2rem;
}

.theme::backdrop {
    background-color: hsl(0, 0%, 0%, 0.25);
}

.theme .instructions {
    display: flex;
    justify-content: space-between;
    background-color: hsl(200, 60%, 70%);
    color: hsl(200, 60%, 5%);
    font-style: italic;
    padding: 0.5rem 0.8rem;
    cursor: default;
}

.theme .instructions p {
    text-align: left;
    margin: 0;
}

.theme .instructions svg {
    width: 4rem;
    fill: hsl(200, 60%, 5%);
    margin-left: 0.5rem;
    cursor: pointer;
}

.theme input {
    width: 10rem;
    height: 4rem;
    cursor: pointer;
}

.theme-header div {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin: 14px;
}

.theme-header label {
    font-size: 1.4rem;
    color: var(--font);
}

.theme-header span {
    font-size: 1.1rem;
}

.theme-header span input {
    font-family: var(--font-family);
    width: 8ch;
    height: auto;
    background-color: var(--select-hover);
    color: var(--font);
    font-size: 1rem;
    border: var(--font) 2px solid;
    border-radius: 10px;
    margin: 0 0.2rem 0 0.3rem;
    padding: 0.2rem 0.3rem;
    cursor: text;
}

.sample {
    padding: 24px 0 0;
}

.sample div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sample p {
    font-size: 1.8rem;
    margin: 0 20px 24px;
}

.sample button {
    font-family: var(--font-family);
    height: 3rem;
    color: var(--button-font);
    background-color: var(--modal-button-bg);
    padding: 6px 16px;
    margin: 0px 8px 22px;
    border: var(--border-thick);
    border-radius: 15px;
    cursor: pointer;
}

.sample svg {
    width: 1.8rem;
}

.modal-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-style: italic;
    font-family: var(--font-family);
    font-size: 1.3rem;
    background-color: var(--modal-button-bg);
    color: var(--button-font);
    border-radius: 0;
    border: none;
    padding: 0.8rem 0;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.modal-options svg {
    fill: var(--button-font);
    height: 1.7rem;
    margin-right: 0.7rem;
}

.save-alert {
    margin: auto;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
}

.save-alert::backdrop {
    background-color: transparent;
}

.save-alert div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 388px;
}

.save-alert p {
    font-size: 1.2rem;
    margin: 0;
}

.save-alert button {
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
}

.save-alert svg {
    width: 2.5rem;
}

hr {
    height: 2px;
    margin: 0;
    border: none;
    background-color: var(--button-font);
}

.donate-button {
    display: flex;
    background-color: var(--button-bg);
    font-size: 1.6rem;
    width: 400px;
    height: 220px;
    text-align: center;
    align-items: center;
    border: var(--border-thick);
    border-radius: 20px;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
}

.donate-button:hover {
    background-color: var(--select-hover);
    color: var(--font);
    text-decoration: none;
}

.donate-button img {
    height: 100%;
}

.saved-display {
    width: 70vw;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 50% 50%;
    margin: 1rem 1.2rem 1rem 0;
}

.saved-display > *:last-child:nth-child(2n+1),
.signup-form > *:last-child:nth-child(2n+1) {
    grid-column: 1 / -1;
    justify-self: center;
}

.saved-display > *:last-child:nth-child(2n+1) {
    width: 50%;
}

.theme-card {
    width: 100%;
    padding-top: 0.1rem;
    border-radius: 15px;
}

.theme-card p {
    color: var(--font);
    font-size: 1.4rem;
    padding: 0 10%;
}

.font-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: var(--border-thick);
    border-radius: 20px;
}

.font-card p {
    display: flex;
    align-items: center;
    width: calc(100% - 8.3rem);
    height: 4.5rem;
    margin: 0 0.3rem 0 1rem;
}

.font-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
    color: var(--font);
    display: block;
}

.font-card div {
    display: flex;
    align-items: center;
}

.font-card div button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.font-card svg {
    height: 3rem;
    fill: var(--font);
    margin-right: 0.5rem;
    cursor: pointer;
}

.font-card .loader {
    width: 1.5rem;
    height: 1.5rem;
    border-color: var(--font);
    border-bottom-color: transparent;
    margin-right: 1rem;
    cursor: pointer;
}

.font-card .confirm {
    width: 450px;
    padding: 0.5rem 0;
}

.font-card .confirm p {
    width: 100%;
    font-size: 1.6rem;
    justify-content: center;
    margin: 0 0 -0.5rem;
}

.font-card .confirm button {
    width: 10rem;
    padding: 0.3rem 0;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.export-title {
    font-size: 1.5rem;
    color: var(--font);
    font-weight: bold;
    margin: 0.7rem 0;
}

.select-all {
    font-family: var(--font-family);
    font-size: 1.1rem;
    background-color: var(--modal-button-bg);
    color: var(--button-font);
    border: var(--border-thick);
    width: 24rem;
    border-radius: 12px;
    padding: 0.2rem 0;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.export-container {
    min-height: 12.8rem;
}

.theme-preview {
    display: flex;
    align-items: center;
}

.theme-preview p {
    font-size: 1.2rem;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 12px;
    padding: 0.5rem 1.2rem;
    margin: 0.3rem 0.25rem 0.3rem 1rem;
}

.theme-preview button {
    width: 2.6rem;
    height: 2.6rem;
    border: var(--border-thick);
    border-radius: 12px;
    margin: 0.3rem 1rem 0.3rem 0.25rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.theme-slider button {
    font-size: 1.5rem;
    transform: scaleX(2);
    background-color: transparent;
    color: var(--font);
    border: none;
    margin: 0.5rem 1rem;
    cursor: pointer;
}

.export-options button:disabled,
#apply-font:disabled {
    background-color: var(--modal-button-bg);
}

.export-options button:disabled,
.theme-slider button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.export-options {
    display: flex;
    justify-content: center;
}

.export-options button, .upload-themes {
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--modal-button-bg);
    color: var(--button-font);
    border: var(--border-thick);
    width: 11rem;
    border-radius: 15px;
    padding: 0.4rem 0;
    margin: 0.7rem 0.3rem 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.export-options svg,
.import-options svg {
    height: 1.8rem;
    margin-right: 0.5rem;
}

.export-instructions {
    font-size: 1.2rem;
    color: var(--font);
    text-align: left;
    font-style: italic;
    margin: 1rem 1.5rem 1.2rem;
}

.export-modal textarea {
    font-family: "consolas", sans-serif;
    width: 350px;
    height: 80px;
    padding: 10px;
    font-size: 1.1rem;
    color: var(--button-font);
    background-color: var(--modal-button-bg);
    border: var(--border-thick);
    border-radius: 15px;
    resize: none;
}

.import-table {
    display: grid;
    grid-template-columns: 38% 14% 42% 6%;
    text-align: left;
    color: var(--font);
    margin: 1.2rem 5% 0;
}

.import-table p {
    font-weight: bold;
    margin: 0;
}

.import-log button {
    font-family: var(--font-family);
    background-color: transparent;
    color: var(--font);
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: underline;
    border: none;
    margin: 1.4rem auto 1.16rem;
    cursor: pointer;
}

.import-options {
    display: flex;
    align-items: center;
}

.upload-themes {
    width: 13rem;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 12px;
    padding: 0;
    margin: 0 1.5rem 0 0;
}

.complete-import {
    display: flex;
    align-items: center;
}

.complete-import svg {
    width: 7.5rem;
    height: 6rem;
    margin: 0 0 -1rem 0.8rem;
}

.import-status {
    display: "flex";
    flex-direction: "column";
    justify-content: "center";
    max-width: calc(100% - 8.3rem);
}

.import-status p {
    width: 16rem;
    /* color: hsl(212, 100%, 60%); */
    color: var(--font);
    font-size: 1.2rem;
    text-decoration: underline;
    margin: 0.3rem auto 0;
    cursor: pointer;
}

.import-progress {
    width: 11rem;
    height: 0.6rem;
    background-color: var(--modal-button-bg);
    border: var(--border-thick);
    border-radius: 10px;
    margin: 0.5rem auto 0;
}

::-webkit-progress-value {
    background-color: var(--button-font);
}
  
::-moz-progress-bar {
    background-color: var(--button-font);
}

.complete-import span {
    font-size: 1.3rem;
    color: var(--font);
    font-weight: bold;
    margin-left: 1rem;
    cursor: pointer;
}

.no-themes {
    display: flex;
    width: 440px;
    background-color: var(--button-bg);
    border: var(--border-thick);
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem auto;
}

.no-themes svg, .no-themes img {
    width: 170px;
    fill: var(--font);
    border: var(--border-thick);
    border-radius: 50%;
}

.no-themes p {
    color: var(--font);
    font-style: italic;
    font-size: 1.4em;
    margin: auto 0.5rem;
}

.saved-controls {
    display: flex;
    justify-content: space-evenly;
}

.saved-controls button {
    width: 30%;
    border-radius: 15px;
    margin: 0 0 0.8rem;
    padding: 0.2rem 0;
    cursor: pointer;
}

.saved-controls svg {
    height: 2rem;
}

.reload-to-access {
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 2.8rem;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 0 0.2rem;
    margin: auto;
    cursor: pointer;
}

.reload-to-access svg {
    height: 1.5rem;
    margin-right: 0.3rem;
}

.saved-controls dialog {
    border-radius: 12px;
    padding: 0.2rem;
}

.saved-controls dialog p {
    font-size: 1.2rem;
    margin: 0.4rem 0.8rem 0.2rem;
}

.saved-controls dialog button {
    width: calc(50% - 1rem);
    font-size: 1rem;
    margin: 0.2rem 0.2rem 0.6rem;
}

.collection-actions {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.collection-actions button {
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    background-color: var(--button-bg);
    color: var(--button-font);
    border: var(--border-thick);
    width: 16rem;
    border-radius: 12px;
    padding: 0.5rem 0;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.collection-actions svg {
    height: 2.1rem;
    margin: 0 1rem;
}

.font-modal {
    color: var(--font);
}

.font-modal h2 {
    font-size: 1.5rem;
    margin: 0.5rem auto;
}

.font-option-name {
    width: 150px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.font-option-name input {
    margin: auto 1rem;
}

.option-container {
    display: flex;
    align-items: center;
    margin: 1.2rem auto;
}

.font-editor, .custom-font-container {
    width: 230px;
}

.radio-container input[type=radio] {
    appearance: none;
    background-color: var(--modal-button-bg);
    border: var(--border-thick);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    transform: translateY(0.2rem);
    cursor: pointer;
}

.radio-input {
    position: relative;
    display: inline-block;
}

.font-option-name svg {
    width: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.radio-container input[type=radio]:checked {
    background-color: var(--font);
}

.radio-container div div select {
    width: 100%;
    font-size: 1rem;
    background-color: var(--modal-bg);
    color: var(--font);
    border: var(--border-thick);
    border-radius: 15px;
    padding: 0.5rem;
}

.custom-font-container {
    display: flex;
    flex-direction: column;
}

label[for=custom-font-input], label[for=custom-font-input] a {
    font-size: 0.9rem;
    text-align: left;
    font-style: italic;
    cursor: pointer;
}

label[for=custom-font-input] a {
    text-decoration: underline;
    margin: 0;
}

.custom-font-container input[type=text] {
    font-family: var(--font-family);
    width: calc(100% - 0.4rem);
    height: 2rem;
    font-size: 1.1rem;
    background-color: var(--modal-button-bg);
    color: var(--button-font);
    border: var(--border-thick);
    padding: 0 0.5rem;
}

.font-field {
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
}

.font-field button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.3rem;
    background-color: var(--modal-button-bg);
    border: var(--border-thick);
    border-left: none;
    border-radius: 0 10px 10px 0;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.font-field svg {
    height: 1.4rem;
}

.font-option-actions button {
    width: 50%;
    height: 2.6rem;
    background-color: var(--modal-button-bg);
    color: var(--button-font);
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.font-option-actions button svg {
    height: 2rem;
}

#close-font-modal {
    border-left: 3px solid var(--button-font);
}

.no-page-text {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--light-red);
    text-align: left;
    align-items: center;
    border: var(--dark-red) 5px solid;
    border-radius: 2rem;
    width: 560px;
    margin: auto;
    margin-top: 1rem;
    padding: 2rem;
}

.no-page-text p {
    color: var(--dark-red);
    font-size: 1.3rem;
    margin: 0;
}

.no-page-text img {
    width: 100%;
    cursor: pointer;
}

.no-page-links {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    text-decoration-color: var(--dark-red);
    -webkit-text-decoration-color: var(--dark-red);
    width: 12ch;
}

.no-page-text a {
    color: var(--dark-red);
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0.1rem 0;
}

#info-button {
    font-weight: bold;
    font-family: var(--font-family);
    background-color: transparent;
    font-size: 1.5rem;
    width: 90%;
}

#source {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.1rem;
    color: var(--source-code);
    margin: 1.4rem auto;
}

@media only screen and (max-width: 600px) {
    :root {
        --navbar-margin: 0.6rem;
    }
    .signup-form {
        display: flex;
        flex-direction: column;
        gap: 0;
        min-width: 100%;
        max-width: 100%;
    }
    .signup-form label {
        justify-content: left;
    }
    .signup-input, .login-form input {
        width: 28ch;
        margin-bottom: 0.3rem;
    }
    .password-field input {
        width: calc(100% - 4rem);
    }
    .reset-session {
        flex-direction: column;
        margin-top: 1.5rem;
    }
    .reset-session span {
        font-size: 1.2rem;
        margin: 0 0 0.7rem;
    }
    .reset-session button {
        width: 14rem;
        justify-content: center;
        font-size: 1.1rem;
        border-radius: 15px;
        padding: 0.4rem 0;
        margin: auto;
    }
    .verification-required span {
        width: 80%;
        font-size: 1.1rem;
    }
    .server-down {
        height: 1.8rem;
    }
    .navbar a {
        font-size: 1.2rem;
    }
    .navbar-links {
        margin: 0.3rem auto;
    }
    .auth h2 {
        font-size: 1.6rem;
    }
    .signup-form label, .login-form label {
        font-size: 1.2rem;
        margin: 1.7rem 0 0.7rem 0.3rem;
    }
    .signup-form span {
        width: 32ch;
        margin-left: 0.3rem;
    }
    .signup-input, .login-form input {
        font-size: 1.1rem;
        border-radius: 12px;
        padding: 0.2rem 0.3rem;
    }
    .signup-form button, .login-form button {
        font-size: 1.2rem;
        border-radius: 18px;
        margin: 2.2rem auto 0;
    }
    .login-warning {
        width: 80vw;
        border-radius: 20px;
        padding: 0.7rem;
    }
    .login-warning p {
        font-size: 1rem;
        margin: 0.5rem 0.5rem;
    }
    .login-warning div {
        display: flex;
        flex-direction: column;
    }
    .login-warning button {
        width: 96%;
        height: 2.4rem;
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    .background-bulb {
        width: 300px;
        top: calc(50% - 150px);
        left: calc(50% - 150px);
    }
    .log-in-to-view {
        width: 300px;
    }
    .log-in-to-view p {
        font-size: 1.1rem;
        margin: 0 0 1.3rem;
    }
    .log-in-to-view button {
        font-size: 1.1rem;
        border-radius: 12px;
        padding: 0.3rem 0;
    }
    .play img {
        width: 230px;
        height: 230px;
    }
    .controls button {
        width: 7.2rem;
        height: 2.2rem;
        font-size: 1.1rem;
        margin: 0.5rem 0.3rem;
        padding: 0.4rem 1rem;
    }
    .profile {
        flex-direction: column;
        width: 220px;
    }
    .user-info {
        text-align: center;
    }
    .profile .play img {
        width: 220px;
        height: 220px;
        margin: 0;
    }
    .user-info h1 {
        font-size: 1.8rem;
        margin: 0.7rem 0 0.5rem;
    }
    .joined {
        font-size: 1.1rem;
        font-weight: normal;
        font-style: italic;
        margin: 0 0 1.8rem 0;
    }
    .change-password {
        width: 13rem;
        height: 2.8rem;
        font-size: 1.1rem;
        font-weight: normal;
    }
    .user-actions {
        width: 3rem;
        height: 3rem;
    }
    .user-actions svg {
        height: 1.7rem;
    }
    .copy-modal {
        width: 300px;
        border-radius: 15px;
    }
    .copy-modal h2 {
        margin: 0.7rem;
    }
    .copy-modal p {
        width: 188px;
        font-size: 0.9rem;
    }
    .color-display {
        width: 112px;
        height: 64px;
        margin-right: 0.5rem;
    }
    .color-display span {
        font-size: 0.9rem;
    }
    .asset-copied {
        right: 0.5rem;
        height: 1.5rem;
    }
    #bg-copied {
        top: 69px;
    }
    #stroke-copied {
        top: 132px
    }
    #font-copied {
        top: 199px;
    }
    .container {
        width: 80vw;
    }
    .container label {
        font-size: 1.3rem;
    }
    .container select {
        font-size: 1.3rem;
    }
    .p1, a, h2 {
        font-size: 1.35rem;
    }
    .about {
        width: 90%;
        text-align: center;
        margin: auto;
    }
    .about-content {
        padding: 1rem;
    }
    .about-content .p1 {
        font-size: 1rem;
    }
    .confirm {
        width: 280px;
        padding: 1rem;
    }
    .saved-controls .confirm {
        width: 290px;
        padding: 0.5rem;
    }
    .confirm p {
        font-size: 1.35rem;
        margin: 8px 4px 16px;
    }
    .saved-controls .confirm p {
        font-size: 1.3rem;
        margin: 4px 6px 6px;
    }
    .saved-controls .confirm button {
        font-size: 1.2rem;
        width: 46%;
        margin: 8px 4px;
    }
    .confirm button {
        font-size: 1.3rem;
        width: 5rem;
        margin: 8px 6px;
        border-radius: 10px;
        padding: 2px 0;
    }
    .confirm input {
        font-size: 1.2rem;
        margin: 6px auto;
        border-radius: 8px;
        padding: 0.3rem;
    }
    .theme, .more, .toggle-info-modal, .export-modal, .font-modal {
        width: 300px;
    }
    .options div {
        padding: 0.8rem 1.2rem;
    }
    .options p {
        font-size: 1.3rem;
    }
    #saved-icon {
        height: 1.75rem;
    }
    #font-icon {
        height: 1.6rem;
    }
    #explore-icon {
        height: 2rem;
    }
    .options span {
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }
    .options button, .toggle-info-modal button, #close-export-modal {
        height: 2.3rem;
        font-size: 1.1rem;
    }
    .theme .instructions {
        font-size: 0.8rem;
    }
    .theme input {
        width: 6rem;
        height: 2.5rem;
    }
    .theme-header div {
        margin: 12px;
    }
    .theme-header label {
        font-size: 1.15rem;
    }
    .theme-header span {
        font-size: 0.95rem;
    }
    .theme-header span input {
        font-size: 0.9rem;
        border: var(--border-thin);
        border-radius: 8px;
        margin: 0 0.1rem 0 0.2rem;
        padding: 0.1rem 0.2rem;
    }
    .sample {
        padding: 20px 0 0;
    }
    .sample p {
        font-size: 1.45rem;
        margin: 0 16px 20px;
    }
    .sample button {
        font-size: 1.3rem;
        border-radius: 12px;
        padding: 6px 8px;
        margin: 0px 6px 20px;
    }
    .save-alert {
        border-radius: 12px;
        padding: 0.3rem 0.7rem;
    }
    .save-alert div {
        width: calc(300px - 1.4rem);
    }
    .save-alert p {
        font-size: 1rem;
    }
    .save-alert svg {
        width: 1.8rem;
    }
    .modal-options {
        font-size: 1.1rem;
        padding: 0.6rem 0;
    }
    .collections-title {
        font-size: 1.5rem;
        gap: 0.6rem;
    }
    .collections button {
        font-size: 1.1rem;
        border-radius: 12px;
        padding: 0.3rem 0;
    }
    .modal-options svg {
        height: 1.5rem;
        margin-right: 0.4rem;
    }
    .donate-button {
        width: 290px;
        height: 150px;
        font-size: 1.2rem;
        border-radius: 15px;
        padding: 10px 20px;
    }
    .saved-display {
        display: inline;
        margin: 0;
    }
    .saved-display > *:last-child:nth-child(2n+1) {
        width: 86vw;
    }
    .theme-card, .font-card {
        width: 86vw;
        margin: 1rem auto;
        border-radius: 15px;
    }
    .theme-card {
        padding-top: 0.1rem;
    }
    .theme-card p {
        font-size: 1.4rem;
        margin: 0.6rem 0;
    }
    .font-card p {
        width: calc(100% - 6.6rem);
        height: 3.5rem;
        margin: 0 0.2rem 0 0.8rem;
    }
    .font-text {
        font-size: 1.5rem;
    }
    .font-card svg {
        height: 2.5rem;
        margin-right: 0.3rem;
    }
    .font-card .confirm {
        width: 300px;
        padding: 0.5rem 0;
    }
    .font-card .confirm p {
        font-size: 1.3rem;
        margin: 0;
    }
    .font-card .confirm button {
        width: 6rem;
        font-size: 1.2rem;
        border-radius: 12px;
        margin-bottom: 0.5rem;
    }
    .export-title {
        font-size: 1.2rem;
        margin: 0 0 0.8rem;
        padding: 0.2rem 0;
    }
    .select-all {
        font-size: 1rem;
        width: 17rem;
        border-radius: 10px;
        padding: 0.1rem 0;
    }
    .export-container {
        min-height: 10.9rem;
    }
    .theme-preview p {
        font-size: 1.1rem;
        border-radius: 10px;
        padding: 0.4rem 1rem;
        margin: 0.2rem 0.15rem 0.2rem 0.8rem;
    }
    .theme-preview button {
        width: 2.3rem;
        height: 2.3rem;
        border-radius: 10px;
        margin: 0.2rem 0.8rem 0.2rem 0.15rem;
    }
    .theme-slider button {
        font-size: 1.3rem;
        margin: 0.4rem 1rem;
    }
    .export-options button, .upload-themes {
        font-size: 0.9rem;
        background-color: var(--button-bg);
        color: var(--button-font);
        border: var(--border-thick);
        width: 8.5rem;
        border-radius: 12px;
        padding: 0.3rem 0;
        margin: 0.5rem 0.2rem 0.8rem;
    }
    .export-options svg, .import-options svg {
        height: 1.4rem;
        margin-right: 0.4rem;
    }
    .export-instructions {
        font-size: 1rem;
        margin: 0.8rem 0.5rem 1rem 1.3rem;
    }
    .export-modal textarea {
        width: 240px;
        height: 60px;
        padding: 8px;
        font-size: 0.85rem;
        border-radius: 12px;
    }
    #upload-json {
        font-size: 0.9rem;
    }
    .upload-themes {
        width: 9.3rem;
        height: 2.5rem;
        font-size: 0.8rem;
        border-radius: 12px;
        padding: 0;
        margin: 0 1.3rem 0 0;
    }
    .complete-import svg {
        width: 5rem;
        height: 4.5rem;
        margin: 0 0 -0.8rem 0.8rem;
    }
    .complete-import span {
        font-size: 1rem;
        margin-left: 0.3rem;
    }
    .import-content {
        height: 275px;
    }
    .import-table {
        width: 80%;
        grid-template-columns: 85% 5%;
        justify-content: center;
        font-size: 1rem;
        margin: 0.6rem auto 0;
    }
    .import-log button {
        font-size: 1rem;
        margin: 0.7rem auto 0.3rem;
    }
    .import-status {
        max-width: calc(100% - 5.8rem);
    }
    .import-progress {
        width: 9rem;
        height: 0.3rem;
        border-radius: 8px;
        margin: 0 auto 0.1rem;
    }
    .import-status p {
        width: 11.5rem;
        margin: 0.2rem auto 0.1rem;
        font-size: 0.9rem;
    }
    .version {
        width: 220px;
        font-size: 1.8rem;
        padding: 0.9rem 0;
        margin-bottom: 1.8rem;
    }
    .devpage .p3 {
        font-size: 1.7rem;
    }
    .tabs button {
        font-size: 1.5rem;
        width: 7rem;
        padding-bottom: 0.2rem;
    }
    .repos div {
        min-height: 190px;
    }
    .repos a {
        width: 220px;
        font-size: 1.35rem;
        border-radius: 15px;
        padding: 0.3rem 0;
    }
    .no-themes {
        width: 80vw;
        border-radius: 15px;
        padding: 1rem;
    }
    .no-themes svg, .no-themes img {
        width: 28vw;
    }
    .no-themes p {
        font-size: 1.2rem;
        margin: auto 0.5rem;
    }
    .saved-controls button {
        width: 30%;
        margin: 0 0 0.8rem;
        padding: 0.2rem 0;
    }
    .collection-actions {
        flex-direction: column;
        margin-left: 0;
    }
    .collection-actions button {
        font-size: 1.2rem;
        width: 14rem;
        margin: auto;
    }
    .collection-actions svg {
        height: 2rem;
        margin: 0 0.9rem;
    }
    .explore-fonts {
        font-size: 1.2rem;
        border-radius: 12px;
        padding: 0.4rem 0.7rem;
    }
    .explore-fonts svg {
        height: 1.2rem;
    }
    .font-modal h2 {
        font-size: 1.2rem;
        margin: 0.3rem auto;
    }
    .font-option-name {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }
    .option-container {
        flex-direction: column;
        margin: 0.9rem auto;
    }
    .font-editor, .custom-font-container {
        width: 86%;
    }
    .radio-container div div select {
        font-size: 0.9rem;
    }
    .custom-font-container input[type=text] {
        width: calc(100% - 0.8rem);
        font-size: 1rem;
    }
    .font-option-actions button {
        height: 2.2rem;
    }
    .font-option-actions button svg {
        height: 1.6rem;
    }
    .no-page-text {
        display: flex;
        flex-direction: column;
        width: 290px;
    }
    .no-page-text img {
        position: absolute;
        top: 51vh;
        right: 20vw;
        width: 7rem;
    }
    .no-page-text {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    #info-title {
        font-size: 1.4rem;
        margin: 0.7rem 0.8rem 0.1rem;
    }
    #info-button {
        font-size: 1.3rem;
    }
}
